.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
	font-size: calc(10px + 2vmin);
	padding-top: 40px;
}

h3 {
	text-align: center;
	color: #FFF;
}

.button-container {
	display: flex;
	justify-content: space-between;
	width: 20%;
}

.table-container {
	width: 60%;
}

button {
	height: 30px;
	border: none;
	color: #FFF;
	width: 100%;
}

button.connect {
	background: #1CA781;
}

button.disconnect {
	background: #E65E58; 
}

button:hover {
	cursor: pointer;
}

button:nth-child(1) {
  margin-right: 8px;
}

button:nth-child() {
  margin-left: 8px;
}

button:disabled {
	/* background: whitesmoke; */
	opacity: 0.4;
	cursor: not-allowed;
}
